.paddingBottomSmall {
    padding-bottom: 40px !important;
}

.border-radius {
    border-radius: 1.25rem;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.margin-bottom-big {
    margin-bottom: 3.5rem;
}

.margin-top-small {
    margin-top: 2.5rem !important;
}

.margin-top {
    margin-top: 0px !important;
}

.test {
    background-color: aliceblue !important;
}

.text {
    color: black !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.no-margin-top {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.max-width {
        max-width: 100px !important;
}

.boldUnderlined {
    font-weight: bold;
    text-decoration: underline;
}

.stockform {
    padding: 1em;
}

