.sidenav {
  width: 200px;
}

.sidenav li>a {
  color: rgba(0,0,0,0.87);
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 1em;
}

.sidenav {
  width: 200px;
  padding: 1em;
}

.sidenav li>a {
  padding: 0;
  margin-left: 1em;
}