.footer {
    display: block;
    page-break-after: always;
    margin-bottom: .5em;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 4em;
    background-color: #238fff;
}