.paddingBottomSmall {
    padding-bottom: 40px !important;
}

.border-radius {
    border-radius: 1.25rem;
}

.margin-right {
    margin-right: 10px;
}

.margin-left {
    margin-left: 10px;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.margin-top {
    margin-top: 1.5rem;
}