.title {
    text-align: center;
    color: #5bc0be;
    font-style: italic;
    font-weight: bold;
    margin: .1em;
}

.subtitle {
    text-align: center;
    margin-top: 0;
    color: #039be5;
}

.logo {
    background-image: '../../logo.png';
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}