/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: #5d7797;
    max-width: fit-content;
    padding: 10px;
}
   
/* (B) MOVING TICKER WRAPPER */
.hmove {
    display: flex;
    max-width: fit-content;
}
  
/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background: #fff;
    margin: 10px;
    color: black;
    max-width: fit-content;
}
   
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 10 ITEMS -1000%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes banner {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-10000%, 0, 0); }
}
.hmove { animation: banner linear 600s infinite; }
.hmove:hover { animation-play-state: paused; }

.newsTitle {
    font-weight: bold;
    padding-bottom: 1em;
    max-width: 600px;
}

.newsImage {
    margin: auto;
    max-height: 300px;
}