/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-50%, 0, 0); }
  }
  .hmove { animation: tickerh linear 15s infinite; }
  .hmove:hover { animation-play-state: paused; }

.stocks {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.hitem {
    flex-wrap: wrap;
}